<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-div">
     <!-- add when styling:  <img class="icon" src="/static/younote.png" alt=""> -->
    <h1 class="login">Login</h1>
    <!-- Login form -->
    <form  method="POST" action="/">
        <input class="login-form" type="text" name="email" placeholder = "Email"/><br>
        <input class="login-form-pass" type="text" name="password" placeholder = "Password"/><br>
        <input class="btn" type="submit" value="Login"/>
    </form>

    <!-- Get flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <b>{{message}}</b>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <p></p>
    <div class="line"></div>
    <!-- URL for sign up page -->
    <a class="sign" href="{{url_for('signup')}}">Don't have an account? Sign Up!</a>
</div>
</body>
</html>