<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <img class="nav-icon" src="/static/younote.png" alt="">
        <h1 class="nav-header">YouNote</h1>
        <a class="home-btn" style="text-decoration:none" href="{{url_for('landing')}}">Home</a>
        <a class="sign-btn" style="text-decoration:none" href="{{url_for('login')}}">Login</a>
    </div>
    <br>
    <br>
    <br>
    <div class="login-div">
    <!-- <img class="icon" src="/static/younote.png" alt=""> -->
    <h1 class="login">Sign Up</h1>
    <!-- register form -->
    <form  method="POST" action="/signup">
        <input class="first" type="text" name="first" placeholder = "First Name" required/><br>
        <input class="last" type="text" name="last" placeholder = "Last Name" required/><br>
        <input class="email-sign" type="email" name="email" placeholder = "Email" required/><br>
        <input class="pass-sign" type="password" name="password" placeholder = "Password" required/><br>
        <input class="btn" type="submit" value="Sign Up"/>
    </form>
    <div class="line"></div>
    <!-- URL for login page -->
    <a class="sign" href="{{url_for('login')}}">Already have an account? Login!</a>
</div>
</body>
</html>