<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube TimeStamp Generator</title>
    <link rel="stylesheet" href="../static/timeStamp.css">
</head>

<body>
    <div id="appTitle"></div>
    <h3>YouNote TimeStamp</h3>
    <div class="grid-container"></div>
    <div class="time-stamp-form"></div>
    <form onsubmit="event.preventDefault(); addTimeStamp()">
        <input type="text" id="title" placeholder="Comment" max="120">
        <div id="time">
            <input type="number" min="0" max="12" value="0" id="hours" class="time-hour" placeholder="hours" required>

            <input type="number" min="0" max="60" value="0" id="minutes" class="time-minutes" placeholder="minutes"
                required>

            <input type="number" min="0" max="60" value="0" id="seconds" class="time-seconds" placeholder="seconds"
                required>

            <input type="submit" value="Submit">

        </div>
    </form>
    </div>
    <div class="time-stamp-preview">
        <ul id="timestamps"></ul>
    </div>
    </div>

    <script src="../src/compoents/timeStamp.js"></script>
</body>

</html>